<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-32 px-6">
        <div class="bg-backgroundPrimary p-12 rounded-3xl mx-auto flex w-full max-w-sm flex-col gap-6">
            <div class="form-group">
                <div class="form-field">
                    <label class="form-label">Kullanıcı adı</label>
                    <input placeholder="Type here" type="email" class="input max-w-full" />
                </div>
                <div class="form-field">
                    <label class="form-label">Şifre</label>
                    <div class="form-control">
                        <input placeholder="Type here" type="password" class="input max-w-full" />
                    </div>
                </div>
                <div class="form-field pt-5">
                    <div class="form-control justify-between">
                        <button type="button" class="btn btn-primary w-full">Giriş yap</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>