<div class="container text-center mt-48 space-y-2">
    <p class="text-[#6E6E6E]">
        <%= process.env.SITE_NAME %>
    </p>
    <p>devolop by <a href="https://www.enesdeliduman.com">Enes Deliduman</a></p>
</div>