<div class="container text-center mt-48 space-y-4">
    <div class="space-y-2">
        <p class="text-gray-11">
            <%= process.env.SITE_NAME %>
        </p>
        <p>devolop by <a href="https://www.enesdeliduman.com">Enes Deliduman</a></p>
    </div>
    <div id="theme">
        <label for="themeChanger" id="themeChangerLabel">
            <i class="fa-solid fa-sun"></i>
        </label>
        <input type="checkbox" id="themeChanger" class="switch hidden" hidden />
    </div>
</div>