<div class=" navbar rounded-xl navbar-glass mb-12 hidden lg:flex">
	<div class="navbar-start">
		<a class="navbar-item " href="/">
			<%= process.env.SITE_NAME %>
		</a>
	</div>
	<div class="navbar-end">
		<div class="avatar avatar-ring avatar-md">
			<div class="dropdown-container">
				<div class="dropdown">
					<label class="btn btn-ghost flex cursor-pointer px-0" tabindex="0">
						<img src="https://i.pravatar.cc/150?u=a042581f4e29026024d" alt="avatar" />
					</label>
					<div class="dropdown-menu dropdown-menu-bottom-left">
						<a class="dropdown-item text-sm">Profil</a>
						<a tabindex="-1" class="dropdown-item text-sm">Ayarlar</a>
						<br>
						<a href="/auth/log-out" tabindex="-1" class="dropdown-item bg-error text-sm"><b>Çıkış yap</b></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="flex lg:hidden mb-5">
	<input type="checkbox" id="drawer-left" class="drawer-toggle" />
	<label for="drawer-left" class="btn btn-primary">
		<i class="fa-solid fa-align-left fa-xl"></i>
	</label>
	<label class="overlay" for="drawer-left"></label>
	<div class="drawer">
		<div class="drawer-content pt-10 flex flex-col h-full ">
			<label for="drawer-left" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
			<div>
				<a href="/" class="btn btn-primary min-w-full my-1">Home</a>
			</div>
			<div>
				<a href="#" class="btn btn-outline min-w-full my-1">About</a>
			</div>
			<div>
				<a href="#" class="btn btn-outline min-w-full my-1">Account</a>
			</div>
			<div class="h-full flex flex-row justify-center items-end gap-2">
				<div class="w-full">
					<a href="#" class="btn btn-outline min-w-full my-1">Profil</a>
					<a href="#" class="btn btn-outline min-w-full my-1">Ayarlar</a>
					<a href="/auth/log-out" class="btn btn-error min-w-full my-1"><b>Çıkış yap</b></a>
				</div>
			</div>
		</div>
	</div>
</div>