<body class="bg-backgroundSecondary py-4 rounded-lg px-6">
    <div class="text-center container mx-auto">
        <img src="/public/img/405.gif" id="animation" class="avatar w-48 h-48 mb-8" alt="">
        <p class="text-error text-lg mb-2">Burda hiçbir şey bulamadık :(</p>
        <a href="/" class="link link-primary">Anasayfaya dön</a>
    </div>
</body>
</html>
