<!-- views/site/404.ejs -->
<%- include('../partials/_head') -%>
<body class="bg-backgroundSecondary py-4 rounded-lg px-6">
    <div class="text-center container mx-auto">
        <h1 class="text-error text-3xl font-bold mb-4">Oops!</h1>
        <p class="text-error text-lg mb-8">Burda hiçbir şey bulamadık :(</p>
        <a href="/" class="link link-primary">Anasayfaya dön</a>
    </div>
</body>
</html>
