<% if (totalPages> 1) { %>
	<div class="pagination mt-8 flex justify-center">
		<% for(let i=0; i < totalPages; i++) { %>
			<% let filterParam=(filter) ? "&filter=" + filter : "" ; %>
				<a href="?page=<%= i %><%= filterParam %>" class="btn<%= (i == currentPage) ? " btn-active" : "" %>">
					<%= i + 1 %>
				</a>
				<% } %>
	</div>
	<% } %>