<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-4 rounded-lg px-6">
        <p class="text-center">bir şeyler ters gitti :(</p>
        <%- include('../partials/_footer') -%>
            <%- include('../partials/_scripts') -%>
    </body>
    </html>