<!-- views/site/404.ejs -->
<%- include('../partials/_head') -%>

    <body class="bg-backgroundSecondary py-4 rounded-lg px-6">
        <div class="text-center container mx-auto">
            <div>
                <div class="flex justify-center my-24">
                    <img src="/public/img/simsek2.png" alt="">
                </div>
                <p class="text-4xl font-bold text-[#b91c1c]">YAPIM AŞAMASINDA</p>
            </div>
        </div>
    </body>

    </html>